&__plan-presentation {
  width: 75%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $pale-blue;
  border-radius: 10px;

  &-type {
    color: $dark-blue;
    font-size: 0.9rem;
    font-weight: $font-weight-700;
  }

  &-price {
    font-size: 0.9rem;
    color: $desaturated-blue;
  }

  &-change-link {
    font-size: 0.8rem;
    color: lighten($bright-blue, 10%);
    font-weight: $font-weight-700;
    text-decoration: none;
    position: relative;

    &::after {
      content: '';
      display: block;
      border-bottom: 2px solid lighten($bright-blue, 10%);
      padding-top: 5px;
      top: 0;
      transform: translateY(0) rotateY(0);
      transition: transform 0.4s linear;
    }

    &:hover {
      font-weight: $font-weight-700;

      &::after {
        transform: translateY(-25px) rotateY(360deg);
      }
    }
  }
}
