.summary-card {
  width: 30%;
  background-color: $very-pale-blue;
  border-radius: 20px;
  padding-bottom: 30px;
  display: grid;
  gap: 1.3rem;
  justify-items: center;
  box-shadow: 0 3px 40px $desaturated-blue;

  @media screen and (min-width: 320px) and (max-width: 500px) {
    width: 80%;
  }

  &__card-title {
    font-size: 1.5rem;
    color: $dark-blue;
  }

  &__card-description {
    width: 60%;
    text-align: center;
    font-size: 0.9rem;
    color: $desaturated-blue;
    line-height: 1.3rem;
  }

  &__proceed-payment-btn {
    width: 75%;
    padding: 15px;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: $bright-blue;
    color: $pale-blue;
    font-weight: $font-weight-700;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 15px $desaturated-blue;
  }

  &__cancel-link {
    font-size: 0.8rem;
    color: $desaturated-blue;
    font-weight: $font-weight-900;
    text-decoration: none;
  }

  @import './_header-img';
  @import './_content';
  @import './_plan-presentation';
}
