&__proceed-payment-btn {
  width: 75%;
  padding: 15px;
  position: relative;
  font-size: 0.8rem;
  text-decoration: none;
  background-color: $bright-blue;
  color: $pale-blue;
  font-weight: $font-weight-700;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 15px $desaturated-blue;
  z-index: 1;
  transition: box-shadow 0.5s linear;

  &::before {
    content: '';
    display: block;
    background-color: lighten($bright-blue, 10%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
    transition: transform 0.4s linear;
  }

  &:hover {
    box-shadow: 0 3px 5px $desaturated-blue;
    &::before {
      transform: scaleX(1);
    }
  }
}
